@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/medium";
@import "less/variables";

// Global variables
@img-root: "../assets";

html {
    min-width: 680px;
}

body {
    background: @gray-lighter;
    min-width: 680px;
}

canvas {
    display: none;
    background: @musicDark;
}

.highlight-cursor {
  cursor: url('../img/highlight_cursor.png'), crosshair;
}

.content {
    display: table;
    width: 100%;
    max-width: 1200px;
    min-width: 640px;
    margin: 0 auto;

    .poster-wrapper,
    .container {
        display: table-cell;
        vertical-align: top;
    }

    .poster-wrapper {
        width: 640px;
    }

    @media screen and (max-width: @screen-sm-max){
        display: block;

        .poster-wrapper,
        .container {
            display: block;
        }
    }

    @media screen and (max-width: @screen-xs-max){
        .controls-wrapper {
            font-size: 250%;
            .btn {
                font-size: 100%;
                height: 88px;
                min-width: 88px;
            }
        }

        #fontsize {
            display: block;
            width: 90%;
        }
    }

    .touch & {
        input[type="range"]{
            background: #fff;
            width: 100%;
            height: 88px;
            -webkit-appearance: none;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -wekkit-border-radius: 8px;
            border: 1px solid #ddd;
        }


        input[type="range"]::-webkit-slider-thumb{
           -webkit-appearance:none !important;
           width:88px;
           height:88px;
           -webkit-appearance: none;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -wekkit-border-radius: 8px;
            border:none;
            background: #aaa;
         }

         @media screen and (min-width: @screen-sm){
            input[type="range"]{
                height: 44px;
            }

            input[type="range"]::-webkit-slider-thumb {
                width:44px;
                height:44px;
            }
         }
    }
}

.controls-wrapper {
    padding-top: @line-height-computed;

    small {
        font-size: 100%;
        opacity: 0.5;
    }

    .btn-group,
    .btn-group + .btn {
        margin-right: @grid-gutter-width / 2;
    }

    .btn-group-vertical .btn {
        text-align: left;
    }

    .form-group,
    .btn-group {
        margin-bottom: @line-height-computed / 2;
    }

    label {
        display: block;
        font-weight: normal;
    }

    .help {
        color: @gray-light;
    }

    #reset-highlight{
      text-decoration: underline;
      cursor: pointer;
      display: table-cell;
    }
}

.poster {
    height: 640px;
    width: 640px;
    background: @bg-color;
    margin: @line-height;
    position: relative;
    padding: @padding * 2;
    font-size: @base-font-size * 5;
    line-height: 1 !important;
    overflow: hidden;
    color: @text-color;

    &.poster-theme1 {
        .logo-wrapper {
            background-image: @logo-path;
            background-repeat: no-repeat;
            background-size: @logo-sq-width @logo-sq-height;
            width: @logo-sq-width + @padding;
            height: @logo-sq-height + @padding;

            .sixteen-by-nine& {
                background-size: @logo-16x9-width @logo-16x9-height;
                width: @logo-16x9-width + @padding;
                height: @logo-16x9-height + @padding;
            }

            .facebook-ratio& {
                background-size: @logo-fb-ratio-width @logo-fb-ratio-height;
                width: @logo-fb-ratio-width + @padding;
                height: @logo-fb-ratio-height + @padding;
            }
        }
    }

    &.poster-theme2 {
        background: @theme2-bg-color;
        color: @theme2-text-color;
        .logo-wrapper {
            background: @theme2-bg-color;
            color: @theme2-text-color;
            background-image: @theme2-logo-path;
            background-repeat: no-repeat;
            background-size: @theme2-sq-logo-width @theme2-sq-logo-height;
            width: @theme2-sq-logo-width + @padding;
            height: @theme2-sq-logo-height + @padding;

            .sixteen-by-nine& {
                background-size: @theme2-16x9-logo-width @theme2-16x9-logo-height;
                width: @theme2-16x9-logo-width + @padding;
                height: @theme2-16x9-logo-height + @padding;
            }

            .facebook-ratio& {
              background-size: @theme2-fb-ratio-logo-width @theme2-fb-ratio-logo-height;
              width: @theme2-fb-ratio-logo-width + @padding;
              height: @theme2-fb-ratio-logo-height + @padding;
            }
        }
        .show-credit {
            color: @theme2-credit-color;
        }
    }


    &.poster-theme3 {
        background: @theme3-bg-color;
        color: @theme3-text-color;
        .logo-wrapper {
            background: @theme3-bg-color;
            color: @theme3-text-color;
            background-image: @theme3-logo-path;
            background-repeat: no-repeat;
            background-size: @theme3-sq-logo-width @theme3-sq-logo-height;
            width: @theme3-sq-logo-width + @padding;
            height: @theme3-sq-logo-height + @padding;

            .sixteen-by-nine& {
                background-size: @theme3-16x9-logo-width @theme3-16x9-logo-height;
                width: @theme3-16x9-logo-width + @padding;
                height: @theme3-16x9-logo-height + @padding;
            }

            .facebook-ratio& {
                background-size: @theme3-fb-ratio-logo-width @theme3-fb-ratio-logo-height;
                width: @theme3-fb-ratio-logo-width + @padding;
                height: @theme3-fb-ratio-logo-height + @padding;
            }
        }
        .show-credit {
            color: @theme3-credit-color;
        }
    }

    &.poster-theme4 {
        background: @theme4-bg-color;
        color: @theme4-text-color;
        .logo-wrapper {
            background: @theme4-bg-color;
            color: @theme4-text-color;
            background-image: @theme4-logo-path;
            background-repeat: no-repeat;
            background-size: @theme4-sq-logo-width @theme4-sq-logo-height;
            width: @theme4-sq-logo-width + @padding;
            height: @theme4-sq-logo-height + @padding;

            .sixteen-by-nine& {
                background-size: @theme4-16x9-logo-width @theme4-16x9-logo-height;
                width: @theme4-16x9-logo-width + @padding;
                height: @theme4-16x9-logo-height + @padding;
            }

            .facebook-ratio& {
                background-size: @theme4-fb-ratio-logo-width @theme4-fb-ratio-logo-height;
                width: @theme4-fb-ratio-logo-width + @padding;
                height: @theme4-fb-ratio-logo-height + @padding;
            }
        }
        .show-credit {
            color: @theme4-credit-color;
        }
    }

    &.sixteen-by-nine {
        height: 360px;
        padding: @padding;

        .quote& {
            .left-quote {
                top: @padding;
                left: @padding;
            }
        }

        blockquote {
            margin-bottom: 20px;
        }

        .logo-wrapper {
            padding: @padding;

            img {
                width: 150px;
            }

            .poster-music& {
                padding-bottom: @padding - 10;
            }
        }

        p.source {
            font-size: @base-font-size * 1.3;
        }

        .show-credit {
            font-size: @base-font-size * 1.1;
        }
    }

    &.two-by-one {
        height: 320px;
        padding: @padding;

        .quote& {
            .left-quote {
                top: @padding;
                left: @padding;
            }
        }

        blockquote {
            margin-bottom: 20px;
        }

        .logo-wrapper {
            padding: @padding;

            img {
                width: 150px;
            }

            .poster-music& {
                padding-bottom: @padding - 10;
            }
        }

        p.source {
            font-size: @base-font-size * 1.3;
        }

        .show-credit {
            font-size: @base-font-size * 1.1;
        }
    }

    .facebook-ratio& {
      width: 600px;
      height: 315px;
      padding: @padding;

      .quote& {
          .left-quote {
              top: @padding;
              left: @padding;
          }
      }

      blockquote {
          margin-bottom: 20px;
      }

      .logo-wrapper {
          padding: @padding;

          img {
              width: 150px;
          }

          .poster-music& {
              padding-bottom: @padding - 10;
          }
      }

      p.source {
          font-size: @base-font-size * 1.3;
      }

      .show-credit {
          font-size: @base-font-size * 1.1;
      }
    }

    .quote& {
        .left-quote {
            content:@quote-begin-symbol;
            display: block;
            position: absolute;
            top: @padding * 2;
            left: @padding * 2;
            font-weight: @quote-font-weight;
            margin-left: @quote-mark-margin;
        }
    }

    .left-quote,
    .right-quote {
        display: none;
    }

    blockquote {
        padding: 0;
        margin: 0 0 @line-height * 2;
        border-left: none;
        font-size: inherit;
        line-height: 100%;
        font-weight: bold;
        display: block;
        font-feature-settings: "liga" 0;

        &:focus {
            border: none;
            outline: none;
        }

        p {
            font-size: inherit;
            font-weight: inherit;
            margin: 0;
            line-height: 110%;
            // background-color: #fff;

            span {
                line-height: inherit !important;
                background-color: #fff200;
            }
        }

        &:last-child {
            color: red;
        }

        .quote& {

            p:last-child:after {
                content: @quote-end-symbol;
                font-weight: @quote-font-weight;
            }

        }

        .show-credit {
            line-height: 1.2 !important;
        }
    }

    p.source {
        font-size: @base-font-size * 1.5;
        font-weight: normal;
        line-height: 1.3;
        display: block;
        margin-top: 0;

        span{
          background-color: #fff200;
        }
    }

    .show-credit {
        display: block;
        text-transform: uppercase;
        font-size: @base-font-size * 1.2;
        margin-top: @credit-margin;
        color: @credit-color;
    }

    p.source,
    .show-credit {
        &:focus {
            border: none;
            outline: none;
        }
    }

    .logo-wrapper {
        position: absolute;
        width: 100%;
        z-index: 100;
        bottom: 0;
        right: 0;
        text-align: right;
        padding:  @padding @padding * 2 @padding * 2;
        margin: 0;
        font-size: 46px;
        background: @bg-color;
        background-image: @logo-path;
        background-repeat: no-repeat;
        background-size: @logo-sq-width @logo-sq-height;
        width: @logo-sq-width + @padding;
        height: @logo-sq-height + @padding;

        .sixteen-by-nine& {
            background-size: @logo-16x9-width @logo-16x9-height;
            width: @logo-16x9-width + @padding;
            height: @logo-16x9-height + @padding;
        }

        .two-by-one& {
            background-size: @logo-2x1-width @logo-2x1-height;
            width: @logo-2x1-width + @padding;
            height: @logo-2x1-height + @padding;
        }

        .facebook-ratio& {
            background-size: @logo-fb-ratio-width @logo-fb-ratio-height;
            width: @logo-fb-ratio-width + @padding;
            height: @logo-fb-ratio-height + @padding;
        }

        .logo {
            .hide;
        }
    }
}
